In [4]:
!pip install scipy
!pip install --upgrade scipy
from scipy import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

Requirement already satisfied: scipy in c:\users\kayde\.conda\envs\ml\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\kayde\.conda\envs\ml\lib\site-packages (from scipy) (1.19.2)
Requirement already satisfied: scipy in c:\users\kayde\.conda\envs\ml\lib\site-packages (1.6.1)
Collecting scipy
  Downloading scipy-1.7.0-cp38-cp38-win_amd64.whl (33.7 MB)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\kayde\.conda\envs\ml\lib\site-packages (from scipy) (1.19.2)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.6.1
    Uninstalling scipy-1.6.1:
      Successfully uninstalled scipy-1.6.1
Successfully installed scipy-1.7.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.3.0 requires gast==0.3.3, but you have gast 0.4.0 which is incompatible.
tensorflow 2.3.0 requires numpy<1.19.0,>=1.16.0, but you have numpy 1.19.2 which is incompatible.
tensorflow 2.3.0 requires scipy==1.4.1, but you have scipy 1.7.0 which is incompatible.

Alright just ignore the errors, the important thing is we have the latest scipy now, lets get to work

In [6]:
rain1 = pd.read_csv(r'Rain1.csv')
rain1

           Rain1
0       0.964389
1       6.175052
2      15.549931
3       1.295938
4       0.000000
...          ...
10952   0.000000
10953   0.000000
10954   0.000000
10955   0.000000
10956   0.000000

[10957 rows x 1 columns]